body {
  background: #631172;
  font-family: Helsinki;
  color: white;
}

.jumbotron {
  box-sizing: border-box;
  height: 600px;
}

.title {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.title img {
  width: 600px;
  margin-top: 100px;
}

.start-btn {
  width: 200px;
  color: #631172;
  font-size: 36px;
  border-radius: 50px;
  background: #fed501;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.timer {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #fed501;
}

.time {
  color: #ff5270;
  font-size: 30px;
}

.question {
  font-size: 30px;
}
